@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This website was made by EvolveAir (Senpai#9422 on discord) and was a small time project for players to easily check uptime and downtime of STN's servers</p>
